#back-to-top {
  position: fixed;
  bottom: 30px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    background 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

#back-to-top:hover {
  filter: brightness(1.2); /* Naturally lightens any chosen color */
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
