#back-to-top {
  position: fixed;
  min-width: 40px !important;
  min-height: 40px !important;
  bottom: 30px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    background 0.3s ease;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  cursor: pointer;
}

#back-to-top .dashicons {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#back-to-top.show {
  opacity: 1 !important;
  visibility: visible !important;
  display: flex !important;
}
