#back-to-top {
  position: fixed;
  min-width: 40px !important;
  min-height: 40px !important;
  bottom: 30px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    background 0.3s ease;
  opacity: 0;
  visibility: hidden;
  padding: 0;
}

#back-to-top .dashicons {
  font-size: inherit;
  width: auto;
  height: auto;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

#back-to-top.show {
  opacity: 1 !important;
  visibility: visible !important;
  display: flex !important;
}
