#back-to-top {
  position: fixed;
  min-width: 40px !important;
  min-height: 40px !important;
  bottom: 30px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 9999;
  /* This centers the span icon */
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    background 0.3s ease;
  opacity: 0;
  visibility: hidden;
  padding: 0; /* Ensures no extra space pushes the icon */
}

#back-to-top .dashicons {
  font-size: inherit; /* This links it to the 'font-size' we calculate in PHP */
  width: auto;
  height: auto;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #back-to-top:hover {
  filter: brightness(1.05); 
} */

#back-to-top.show {
  opacity: 1 !important;
  visibility: visible !important;
  display: flex !important;
}
